*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
*.iml
*.o
public/
.direnv/
05-system-design/02-frameworks-and-metaframeworks/server-component-app/node_modules