<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Week 14: Cookies</title>
  <script>
    document.cookie = `week14=${new Date().toString()}`;
  </script>
</head>

<body>
  <h1>Week 14: Cookies</h1>
</body>

</html>